
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: rgb(240, 185, 118);
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

img {
    width: 250px;
}

footer {
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;

}